.overview-container{

display:flex;
justify-content:space-between;
align-items:center;

padding:30px 80px;

background:#eef8ef;

border-radius:0 0 30px 30px;

margin-bottom:25px;
}


.overview-left h1{

font-size:34px;
color:#145a32;
margin-bottom:10px;
}


.sub-title{

font-size:18px;
color:#777;
margin-bottom:25px;
}


.overview-buttons{

display:flex;
gap:15px;
}


.signin-btn{
color:#145a32;

padding:12px 28px;

border:1px solid #145a32;

border-radius:30px;

background:white;

cursor:pointer;

transition:.4s;
}


.register-btn{

padding:12px 28px;

border:none;

border-radius:30px;

background:#145a32;

color:white;

cursor:pointer;

transition:.4s;
}


.signin-btn:hover,
.register-btn:hover{

transform:translateY(-5px);

box-shadow:
0 8px 20px rgba(0,0,0,.15);

}


.overview-right{

display:flex;
gap:20px;
}


.stat-card{

background:white;

padding:25px;

width:120px;

border-radius:20px;

text-align:center;

box-shadow:
0 5px 15px rgba(0,0,0,.08);

transition:.5s;
}


.stat-card:hover{

transform:scale(1.08);
}


.stat-card h2{

color:#145a32;
font-size:36px;
margin-bottom:8px;
}

/* ---------- Tablet ---------- */

@media(max-width:992px){

.overview-container{

padding:30px;
}

.overview-left h1{

font-size:28px;
}

}


/* ---------- Mobile ---------- */

@media(max-width:768px){

.overview-container{

flex-direction:column;
text-align:center;
padding:25px;
}

.overview-right{

margin-top:25px;
justify-content:center;
flex-wrap:wrap;
}

.overview-buttons{

justify-content:center;
flex-wrap:wrap;
}

.stat-card{

width:100px;
}

}