.chart-box{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 4px 12px rgba(0,0,0,.08);

text-align:center;

transition:.3s;
}


.chart-box:hover{

transform:translateY(-5px);
}


.chart-box h2{

font-size:22px;
font-weight:700;

color:#145a32;

margin-bottom:20px;
}


.recharts-legend-item{

font-size:14px;
font-weight:500;
}