.rating-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 4px 12px rgba(0,0,0,.08);

text-align:center;

transition:.3s;
}

.rating-card:hover{

transform:translateY(-5px);
}

.rating-title{

font-size:22px;
font-weight:700; /* bold */

color:#145a32;

margin-bottom:15px;
}

.rating-value{

font-size:40px;
font-weight:700;

margin:10px 0;

color:#2e7d32;
}

.stars{

font-size:24px;

color:#ffb74d;

margin-bottom:10px;
}

.rating-text{

font-size:14px;

color:#666;
}